<launch>
    <!-- Simülasyon zamanını kullan -->
    <param name="use_sim_time" value="false"/>

    <!-- Sıkıştırılmış görüntüleri düz görüntülere dönüştürmek için düğüm -->
    <node name="decompress_image" pkg="image_transport" type="republish" args="compressed in:=/webcam/image_raw/compressed raw out:=/webcam/image_raw"/>

    <!-- ORB_SLAM3 Ana Düğümü -->
    <node name="orb_slam3" pkg="orb_slam3_ros" type="ros_mono" output="screen">
        <!-- Düz görüntüleri almak için topic -->
        <remap from="/camera/image_raw" to="/webcam/image_raw"/>

        <!-- ORB-SLAM3 için parametreler -->
        <param name="voc_file" type="string" value="$(find orb_slam3_ros)/orb_slam3/Vocabulary/ORBvoc.txt.bin"/>
        <param name="settings_file" type="string" value="$(find orb_slam3_ros)/config/Monocular/my_config.yaml"/>

        <!-- ROS ve Gazebo ayarları -->
        <param name="world_frame_id" type="string" value="world"/>
        <param name="cam_frame_id" type="string" value="camera"/>
        <param name="enable_pangolin" type="bool" value="true"/>
    </node>

    <!-- Görselleştirme için RViz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find orb_slam3_ros)/config/orb_slam3_no_imu.rviz" output="screen"/>

    <!-- Trajektör Yolu -->
    <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="trajectory_server_orb_slam3" output="screen" ns="orb_slam3_ros">
        <param name="/target_frame_name" value="/world"/>
        <param name="/source_frame_name" value="/camera"/>
        <param name="/trajectory_update_rate" value="20.0"/>
        <param name="/trajectory_publish_rate" value="20.0"/>
    </node>

    <!-- /world ve /camera arası dönüşüm -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="world_to_camera_tf" args="0 0 0 0 0 0 1 world camera"/>
</launch>

